extends ../layouts/layout

block content
    input#datetime(type="hidden" value=transfer.transfer_time.toISOString())
    - let dateString = String(transfer.transfer_time.getDate()).padStart(2, "0") + "/" + String(transfer.transfer_time.getMonth() + 1).padStart(2, "0") + "/" + transfer.transfer_time.getFullYear();
    - let timeString = String(transfer.transfer_time.getHours()).padStart(2, "0") + ":" + String(transfer.transfer_time.getMinutes()).padStart(2, "0");

    table.table.table-striped.table-hover.mt-2
        tr
            th ID
            td= transfer.ID
        tr
            th Name
            td= transfer.person_name
        tr
            th Pax
            td= transfer.num_of_people
        tr
            th Origin
            td= transfer.origin
        tr
            th Destination
            td= transfer.destination
        tr
            th Date/Time
            td#datetime-field= `${dateString} ${timeString}`
        tr
            th Status
            if transfer.status === "PENDING"
                td.align-middle
                    span.badge.text-bg-warning PENDING
            else if transfer.status === "IN PROGRESS"
                td.align-middle
                    span.badge.text-bg-success IN PROGRESS
            else if transfer.status === "FINISHED"
                td.align-middle
                    span.badge.text-bg-secondary FINISHED
            else if transfer.status === "REVIEW"
                td.align-middle
                    span.badge.text-bg-danger REVIEW
        tr
            th Flight
            td= transfer.flight
        tr
            th Price
            td= `${transfer.price}€`
        tr
            th Paid
            if transfer.paid >= transfer.price
                td
                    span.badge.text-bg-success= `${transfer.paid}€`
            else
                td
                    span.badge.text-bg-danger= `${transfer.paid}€`
        tr
            th Payment method
            if transfer.payment_method === "CASH"
                td.align-middle
                    i.bi.bi-cash.text-success
                    |  Cash
            else if transfer.payment_method === "CARD"
                td.align-middle
                    i.bi.bi-credit-card.text-primary
                    |  Card
            else if transfer.payment_method === "TRANSFER"
                td.align-middle
                    i.bi.bi-bank.text-primary
                    |  Bank Transfer
            else
                td None
        tr
            th Operator Commission (in %)
            td= `${parseFloat((transfer.operatorCommission * 100).toFixed(2))}%`
        tr
            th Driver Commission (in %)
            td= `${parseFloat((transfer.driverCommission * 100).toFixed(2))}%`
        tr
            th Driver
            td= transfer.driver
        tr
            th Vehicle
            td= transfer.vehicle
        tr
            th Operator
            td= transfer.service_operator
        tr
            th Seen
            if transfer.seen
                td
                    span.badge.text-bg-success Yes
            else
                td
                    span.badge.text-bg-danger No
        tr
            th Observations
            td= transfer.observations

block scripts
    script.
        let datetime = new Date(document.getElementById("datetime").value);
        let dateString = String(datetime.getDate()).padStart(2, "0") + "/" + String(datetime.getMonth() + 1).padStart(2, "0") + "/" + datetime.getFullYear();
        let timeString = String(datetime.getHours()).padStart(2, "0") + ":" + String(datetime.getMinutes()).padStart(2, "0");
        document.getElementById("datetime-field").innerHTML = `${dateString} ${timeString}`;