mixin transfer_table_row(row)
    - let dateString = String(row.transfer_time.getDate()).padStart(2, "0") + "/" + String(row.transfer_time.getMonth() + 1).padStart(2, "0") + "/" + row.transfer_time.getFullYear();
    - let timeString = String(row.transfer_time.getHours()).padStart(2, "0") + ":" + String(row.transfer_time.getMinutes()).padStart(2, "0");

    tr
        input.datetime(type="hidden" value=row.transfer_time)
        td.align-middle.datetime-field
            span.date-span= `${dateString}`
            |
            span.time-span.fw-bold= `${timeString}`
        td.align-middle= row.origin
        td.align-middle= row.destination
        td.align-middle= row.person_name
        td.align-middle= row.num_of_people
        td.align-middle= row.driver
        td.align-middle= row.ID

        td.text-nowrap.align-middle
            a.btn.btn-sm.btn-primary.me-1(href=`/admin/transfers/details/${row.ID}`)
                i.bi.bi-list
                |  Details
            a.btn.btn-sm.btn-warning.me-1.ms-1(href=`/admin/transfers/update/${row.ID}`)
                i.bi.bi-pencil
                |  Edit
            a.btn.btn-sm.btn-danger.ms-1(href=`/admin/transfers/delete/${row.ID}`)
                i.bi.bi-trash
                |  Delete

mixin transfer_table(data)
    - let datetime;

    table.table.table-striped.table-hover
        thead
            tr
                th Date/Time
                th Origin
                th Destination
                th Person
                th People
                th Driver
                th ID
                th
        tbody
            each row in data
                +transfer_table_row(row)