mixin transfer_table_row(row)
    - let dateString = String(row.transfer_time.getDate()).padStart(2, "0") + "/" + String(row.transfer_time.getMonth() + 1).padStart(2, "0") + "/" + row.transfer_time.getFullYear();
    - let timeString = String(row.transfer_time.getHours()).padStart(2, "0") + ":" + String(row.transfer_time.getMinutes()).padStart(2, "0");

    tr
        input.datetime(type="hidden" value=row.transfer_time)
        td.align-middle.datetime-field
            span.date-span= `${dateString}`
            | 
            span.time-span.fw-bold= `${timeString}`
        td.align-middle= row.flight
        td.align-middle= row.origin
        td.align-middle= row.destination
        td.align-middle= row.person_name
        if row.status === "PENDING"
            td.align-middle.d-print-none
                span.badge.text-bg-warning PENDING
        else if row.status === "IN PROGRESS"
            td.align-middle.d-print-none
                span.badge.text-bg-primary IN PROGRESS
        else if row.status === "FINISHED"
            td.align-middle.d-print-none
                span.badge.text-bg-secondary FINISHED
        else if row.status === "NO SHOW"
            td.align-middle.d-print-none
                span.badge.text-bg-danger.bg-opacity-75 NO SHOW
        else if row.status === "CANCELLED"
            td.align-middle.d-print-none
                span.badge.text-bg-danger CANCELLED
        else if row.status === "CONFIRMED"
            td.align-middle.d-print-none
                span.badge.text-bg-success CANCELLED
        if row.seen
            td.d-print-none.align-middle
                span.badge.text-bg-success Yes
        else
            td.d-print-none.align-middle
                span.badge.text-bg-danger No
        td.align-middle= row.num_of_people
        td.align-middle.d-print-none= row.driver
        td.align-middle= `${parseFloat((row.price).toFixed(2))}€`
        td.align-middle.d-print-none= `${parseFloat((row.paid).toFixed(2))}€`

        td.text-nowrap.align-middle.d-print-none
            a.btn.btn-sm.btn-primary.me-1(href=`/admin/transfers/details/${row.ID}`)
                | &nbsp;
                i.bi.bi-list
                | &nbsp;
            a.btn.btn-sm.btn-warning.me-1.ms-1(href=`/admin/transfers/update/${row.ID}?returnLink=${url}`)
                | &nbsp;
                i.bi.bi-pencil
                | &nbsp;
            a.btn.btn-sm.btn-danger.ms-1(href=`/admin/transfers/delete/${row.ID}?returnLink=${url}`)
                | &nbsp;
                i.bi.bi-trash
                | &nbsp;

mixin transfer_table(data)
    div.table-responsive
        table.table.table-striped.table-hover
            thead
                tr
                    th Date/Time
                    th Flight
                    th Origin
                    th Destination
                    th Name
                    th.d-print-none Status
                    th.d-print-none Seen
                    th Pax
                    th.d-print-none Driver
                    th Price
                    th.d-print-none Paid
                    th.d-print-none
            tbody
                each row in data
                    +transfer_table_row(row)
                tr
                    td
                    td.dp-print-none
                    td
                    td
                    td
                    td.d-print-none
                    td.d-print-none
                    td
                    td.d-print-none
                    td= `${parseFloat(data.reduce((sum, row) => sum + row.price, 0).toFixed(2))}€`
                    td.d-print-none
                    td.d-print-none