mixin operator_table_row(row)
    tr
        td.align-middle= row.ID
        td.align-middle= row.name
        td.align-middle= `${parseFloat((row.commission * 100).toFixed(2))}%`
        td.align-middle
            div.ms-auto.me-auto(style=`background-color: ${row.color}; width: 30px; height: 30px; border: 1px solid gray; border-radius: 3px`)
        td.text-nowrap.align-middle
            a.btn.btn-sm.btn-warning.me-1.ms-1(href=`/admin/operators/update/${row.ID}`)
                i.bi.bi-pencil
                |  Edit
            a.btn.btn-sm.btn-danger.ms-1(href=`/admin/operators/delete/${row.ID}`)
                i.bi.bi-trash
                |  Delete

mixin operator_table(data)
    table.table.table-striped.table-hover
        thead
            tr
                th ID
                th Name
                th Commission
                th.text-center Color
                th
        tbody
            each row in data
                +operator_table_row(row)
