extends ../layouts/layout

block content
    div.row.g-0.mt-2
        div.col-12
            form(method="post" action=`/admin/vehicles/update/${ID}`)
                div.mb-3
                    label.form-label(for="brand") Brand
                    input.form-control#brand(type="text" name="brand" value=vehicle.brand)
                div.mb-3
                    label.form-label(for="license-plate") License Plate
                    input.form-control#license-plate(type="text" name="license_plate" value=vehicle.license_plate)
                div.mb-3
                    label.form-label(for="name") Name
                    input.form-control#name(type="text" name="name" value=vehicle.name)
                div.mb-3
                    label.form-label(for="num-seats") Number of Seats
                    input.form-control#num-seats(type="number" min=1 max=50 name="seat_number" value=vehicle.seat_number)
                div.mb-3
                    if vehicle.status === "Working"
                        label.form-label(for="status") Status
                        select.form-select#status(name="status")
                            option(value="Working" selected) Working
                            option(value="Broken") Broken
                    else
                        label.form-label(for="status") Status
                        select.form-select#status(name="status")
                            option(value="Working") Working
                            option(value="Broken" selected) Broken

                button.btn.btn-success(type="submit")
                    i.bi.bi-pencil
                    |  Update